div.top {
    background-color: white;
    border-bottom: 3px;
    border-bottom-color: grey;

}

body {
width: 960px;
align-self :center;
size: 500000000 px;

}

.yourname {
padding: 30 px
    background-color: 4aaaa5;

}
